---
layout: default
---
<link href="/css/override.css" rel="stylesheet" type="text/css">
<script>document.body.classList.add('contrails-theme');</script>
<div class="home">
  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in site.posts -%}
      <li class="post-preview-card">
        <div class="post-preview-content">
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
          <p class="post-excerpt">{{ post.excerpt | strip_html | strip }}</p>
        </div>
        {%- if post.preview_image -%}
        <div class="post-preview-thumb">
          <a href="{{ post.url | relative_url }}">
            <img src="/assets/images/{{ post.preview_image }}" alt="{{ post.title | escape }}">
          </a>
        </div>
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}
</div>
